.header {
    background-color: #0f2a44;
    color: white;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: row;
}

.container {
    /* margin-top: -100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    text-align: center;
    flex: 1;
}

/* Botão de navegação */
.btnNave {
    background: none;
    border: none;
    position: absolute;
    left: 20px;
}

.btnNave img {
    width: 50px;
    height: 50px;
}

/* Estilo do container dos simulados */
.simuladocard {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 4px rgba(0, 0, 1, 1);
    /* display: flex; */
}

.simuladoscontainer {
    /* max-height: 600px; */
    /* overflow-y: auto; */
    max-height: 600px;
    width: 100%;
    padding: 15px;
}

/* Alinhamento dos títulos das matérias */
.materiatitulo {
    text-align: left;
    margin-left: 5px;
    color: #132B47;
    font-size: 16px;
    font-style: italic;
}

.descricao {
    width: 100%;
    max-width: 1200px;
    overflow-wrap: break-word;
}


.divisor {
    height: 130px;
    width: 1px;
    background-color: #666;
    margin: 0 15px;
}

.divider {
    height: 1px;
    width: 1450px;
    background-color: #BCBCC1;
    margin-left: 20px;
}

/* Estilo do switch */
.switchcheckbox {
    display: none;
}

.switchlabel {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #B86D6D;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.switchlabel::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #132B47;
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.3s ease;
}

.switchcheckbox:checked + .switchlabel {
    background-color: #82B86D;
}

.switchcheckbox:checked + .switchlabel::before {
    transform: translateX(25px);
}


/* Estilo da descrição dos simulados */
.descricaosimulado {
    color: #666;
    margin: 5px;
    text-align: justify;
    font-weight: 100;
}

/* Número de questões */
.numeroquestoes {
    font-size: 30px;
    font-weight: bold;
    color: #132B47;
}

/* Estilo do container de botões e switch */
.botoesswitch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botoesswitch .btn {
    padding: 0;
    background: none;
    border: none;
}

.botoesswitch .btn img {
    width: 50px;
    height: 50px;
}

.container .btnpersonalizado {
    background-color: #6D72B8 !important;
    border-color: #6D72B8 !important;
    border-width: 3px;
    color: white !important;
    border-radius: 10px !important;
    padding: 5px;
}

.container .btnpersonalizado:hover {
    background-color: #5A5FA0 !important;
    border-color: #5A5FA0 !important;
}

.btnFuncao {
    width: 50px;
    height: 50px;
}

.ImgBtn {
    width: 30px;
    height: 30px;
}

.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nomeDisciplina {
    flex: 1;
    text-align: left;
    margin-left: 5px;
}

.dataCriacao {
    text-align: right;
    margin-right: 5px;
    font-size: 14px;
}


.divInputs {
    width: 500px;
}

.textarea {
    text-align: center;
}

.cardQstsBD {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 250px;
}

.divInicio {
    flex-direction: column;
}