@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.background {
    background-color: #F2F6FA;
    background-image: url('../../Imagens/bgImagem.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.imagemLogo {
    width: 280px;
    height: 200px;
}

.btnInfo {
    margin-top: 10px;
    padding: 0.9em 2.1875em;
    border: 0;
    border-radius: 0.1875em;
    background-color: #7066e0;
    box-shadow: none;
    color: #fff;
    font-size: 0.825em;
    font-weight: 500;
    white-space: nowrap;
    border-radius: 10px;
}

.titulo {
    font-size: 17px;
    color: #132B47;
    text-align: left;
    margin-bottom: 5px;
}

.inputWrapper {
    width: 100%;
    max-width: 700px;
    margin-top: 30px;
}

.inputContainer {
    display: flex;
    align-items: center;
    padding: 7px;
}

.emoji {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.inputTexto {
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #F2F6FA;
}

.divider {
    height: 1px;
    width: 700px;
    background-color: #BCBCC1;
    margin-top: 5px;
}

.custombutton {
    background-color: #132B47; 
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 270px;
    height: 45px;
}

.custombutton:hover {
    background-color: #0f1a30;
}

.link {
    color: #000; 
    font-weight: bold;
}