@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

/* Estilização global */
body {
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilização do cabeçalho */
.header {
    background-color: #0f2a44;
    color: white;
    padding: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.welcome-message {
    margin-top: 5px;
    font-size: 18px;
}

.divider {
    height: 1px;
    width: '90%';
    background-color: #BCBCC1;
}

/* Estilização dos botões */
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.button-container a {
    text-decoration: none;
    color: white;
}

.button {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #6D72B8;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: #53578f;
}

/* Estilização do carrossel */
.carousel-container {
    margin: 20px auto;
    max-width: 800px;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}